
#scheibe {
  width: 550px;
  position: absolute;
}
#scheibe_innen {
  width: 550px;
  position: absolute;
  /* transform: rotate(318.1deg) */
  transition: all 2s;
}
#container{
  height: 550px;
}

h2 {
  color:green;
}
#rolf {
color: red;
width: 500px;
transform: rotate(0deg);
border: 10px solid black;
}
#scheibe {
  width: 550px
}
#saas {
  color: red;
  border: 10px solid black;
}